

.wrapper { float:left; position: relative  }


div {
    transition: all .1s;
}

#tank {
    position: absolute;
    top: 140px;
    left: 180px;
    background-image: url(../images/tank1.png);
    background-position: center center;
    width: 20px;
    height: 20px;
}

#tankEnemy {
    position: absolute;
    top: 100px;
    left: 80px;
    background-image: url(../images/tank2.png);
    background-position: center center;
    width: 20px;
    height: 20px;

}

.outside-cell {
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    float:left;
    position: relative;
    /*transform: translate(-50%, -10%);*/
    outline: 2px solid lavender;

}

.inside-cell {
    width: 20px;
    height: 20px;
    outline: 1px solid lavender;
    float: left;
}

#gun1, #gun2 {
    width: 5px;
    height: 4px;
    border-radius: 100%;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gun2 {
    background-color: yellow;
}

body, html {
    min-width: 700px
}

.btn-group {
    float:left;
    overflow: hidden;

}


.btn {
    float: none;
    display: block;
    margin: 9px 15px;
    padding: 0;
    min-width: 100px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: gold;
    color: #ecf0f1;
    transition: background-color .3s;
}

.btn:focus {
    background-color: #e67e22;
}

.btn:active {
    background-color: #e74c3c !important;
}

.btn:hover {
    background-color: orange;
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 2px 5px;
}

h2 {
    font-weight: normal;
}
